{% extends 'layout.html.twig' %}
{% block title %}Our Friends - {{ friend.firstname ~ ' ' ~ friend.lastname }}{% endblock %}
{% block main %}
    <p>{{ friend.firstname}} {{ friend.lastname }}</p>
    <p>{{ friend.email }}</p>
    {% if hobbies %}
    <p style="text-decoration: underline">Hobbies: </p>
    <ul>
        {% for hobby in hobbies %}
            <li>{{ hobby.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <img src="{{ friend.photo }}" alt="friend_profile">
    <br>
    <a href="{{ url('friends.index') }}">Retour</a>
{% endblock %}