{% extends 'layout.html.twig' %}
{% block title %}Our Products - {{ product.name }}{% endblock %}
{% block nav %}{% include '_inc/nav.html.twig' %}{% endblock %}
{% block main %}
    <h2>Découvrir le {{ product.name }}</h2>
    <hr>
    <h3>{{ product.name }}</h3>
    <p class="text-success">{{ product.price | number_format(2,',',' ')}}€</p>
    <p>{{ product.description }}</p>
    <p>Catégorie: <a href="{{ url('category.detail',{id:product.category.id}) }}">{{ product.category.name }}</a></p>
    <img src="{{ asset('img/'~product.image) }}" alt="{{ "image_" ~ product.id }}" class="img-fluid">
    <hr>
    <p><a href="{{ url('product.index') }}">Retour à l'Acceuil</a></p>
{% endblock %}

{% block aside %}
{% endblock %}
{% block footer %}
{% endblock %}
