{% extends 'layout.html.twig' %}
{% block title %}Products - Form{% endblock %}
{% block nav %}{% include '_inc/nav.html.twig' %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1>Administration</h1>
            <h2>Ajouter/Modifier un produit</h2>
            <hr>
            {#
                affichage du formulaire
                form : est la clé envoyé par le controlleur
                nécessaire de créer le bouton de sousmission
                pour le ciblage des champs, se fier aux champs eixtants dans les métohdes 'add' de classe de formulaire (ProductType)

                désactiver la validation html <form novalidate="novalidate" required="required">
                clé attr : permet d'ajouter des attributs HTML
            #}

            {{ form_start(form,{attr: { novalidate : 'novalidate' } }) }}
            <p>
                {{ form_label(form.name, 'Nom: ') }}
                {{ form_widget(form.name,{attr: {placeholder:'Saissisez le nom du produit',autofocus:'autofocus'}}) }}
            </p>
            <p>
                {{ form_label(form.description, 'Description: ') }}
                {{ form_widget(form.description,{attr: {placeholder:'Saissisez la description du produit'}}) }}
            </p>
            <p>
                {{ form_label(form.price,'Prix : ') }}
                {{ form_widget(form.price,{attr: {placeholder:'Saissisez le prix du produit'}}) }}
            </p>
            <p>
                {{ form_label(form.image,'Image: ') }}
                {{ form_widget(form.image) }}
            </p>
            <p>
                <button class="btn btn-primary">Valider</button>
            </p>
            {{ form_end(form) }}

            {# affichage des erreurs #}
            {#{{ form_errors(form.name) }}#}
        </div>
    </div>
{% endblock %}