{% extends 'layout.html.twig' %}
{% block title %}Admin - All Products{% endblock %}
{% block nav %}{% include '_inc/nav.html.twig' %}{% endblock %}
{% block main %}
    <div class="row">
        <div class="col">
            <h2>Gérer les produits</h2>
            <p class="text-right">
                <a href="{{ url('admin.product.form') }}" class="btn btn-primary">Ajouter un produit</a>
            </p>
            <hr>
            {# affichage du message flash #}
            {% for message in app.flashes('notice') %}
                <p class="alert alert-success">
                    {{ message }}
                </p>
            {% endfor %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row">{{ product.id }}</th>
                        <td>{{ product.name }}</td>
                        <td class="w-25">
                            <img src="{{ asset('img/' ~ product.image) }}" alt="{{ product.name }}" class="img-fluid">
                        </td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price | number_format(2,',',',') }}€</td>
                        <td class="w-50">
                            <a href="{{ url('admin.product.edit',{id:product.id}) }}" class="btn btn-warning">Modifier</a>
                            <a href="{{ url('admin.product.delete',{id:product.id}) }}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>
                <a href="{{ url('admin.homepage.index') }}" class="btn btn-info">Retour à l'Admin</a>
            </p>
        </div>
    </div>
{% endblock %}
{% block aside %}
{% endblock %}